.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(196, 196, 196, 0.5);
    align-items: center;
    display: none;
}

.modal__content {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-height: calc(100vh - 100px);
    max-width: calc(100vh - 100px);
    border-radius: 8px;
    background: var(--white);
    padding: 30px 40px 33px 40px;
    position: relative;
}

.modal__header {
    padding-bottom: 7px;
}

.modal__close {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.4714 3.52861C12.7318 3.78896 12.7318 4.21107 12.4714 4.47141L4.47141 12.4714C4.21107 12.7318 3.78896 12.7318 3.52861 12.4714C3.26826 12.2111 3.26826 11.789 3.52861 11.5286L11.5286 3.52861C11.789 3.26826 12.2111 3.26826 12.4714 3.52861Z' fill='%23495057'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.52861 3.52861C3.78896 3.26826 4.21107 3.26826 4.47141 3.52861L12.4714 11.5286C12.7318 11.789 12.7318 12.2111 12.4714 12.4714C12.2111 12.7318 11.789 12.7318 11.5286 12.4714L3.52861 4.47141C3.26826 4.21107 3.26826 3.78896 3.52861 3.52861Z' fill='%23495057'/%3E%3C/svg%3E");
}

.modal__title {
    color: #334D6E;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
}

.modal__body {
    color: var(--grey-4);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
