* {
    font-size: 16px;
    line-height: 1.5;
    color: white;
}

h1 {
    font-size: 40px;
    line-height: 1.25;
    margin-bottom: 30px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    line-height: 1.25;
    font-weight: bold;
    margin-bottom: 30px;
}

a {
    text-decoration: underline;
}

ul {
    line-height: 1.5;
    margin-left: 30px;
}

ol {
    line-height: 1.5;
    counter-reset: point;
    margin-left: 30px;
}

li {
    padding-left: 15px;
}

li::before {
    content: "\2022";
    float: left;
    height: 1.5em;
    margin-left: -20px;
    width: 15px;
}


ol li::before {
    background: 0 0;
    content: counters(point, ".") ".";
    counter-increment: point;
    font-weight: 500;
    margin-left: -20px;
    margin-right: 5px;
    width: auto;
}

header {
    text-align: center;
}

header h1 {
    margin: 0;
    background: red;
}

nav {
    background: orange;
    padding: 10px;
}

nav a {
    font-size: 20px;
    margin: 0 20px;
}

main {
    background: green;
    padding: 20px;
}

article {
    background: blue;
    margin-bottom: 10px;
    padding: 20px;
}

article:last-child {
    margin: 0;
}

footer {
    background: purple;
    font-size: 25px;
    text-align: center;
}
