.page {
    background: #F9FAFC;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 36px;
}

.page__header {
    background: var(--white);
    height: 82px;
}

.page__main {
    width: 100%;
    max-width: 1110px;
    justify-self: center;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 56px;
}

.page__footer {
    padding: 56px 10px;
}

.page__about {
    margin: auto;
    color: var(--grey-3);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    text-align: center;
}
