.tooltip {
    display: inline-block;
    position: relative;
    --handler-width: 24px;
    --tooltip-background: #4263EB;
}

.tooltip__handler {
    width: var(--handler-width);
    height: 24px;
    cursor: pointer;
}

.tooltip__content {
    display: none;
    position: relative;
    color: var(--grey-2);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    padding: 13px 21px 8px 21px;
    border-radius: 10px;
    background: var(--tooltip-background);
    box-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05);
    bottom: -10px;
    left: calc(-50% + var(--handler-width) / 2);
}

.tooltip__content:before {
    content: "";
    width: 14px;
    height: 6px;
    background: transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid var(--tooltip-background);
    position: relative;
    display: block;
    left: calc(50% - 7px);
    top: -19px;
}

.tooltip__handler:hover ~ .tooltip__content {
    display: block;
}
