.preview {
    background: #F9FAFC;
    padding: 68px 0;
}

.page__main {
    flex-grow: 1;
}

.preview__cards {
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
}

.preview__card {
    margin: 15px;
}

.preview__histogram {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.preview__histogram .histogram {
    flex-basis: 60%;
}
